@font-face {
    font-family: "Minecraft";
    src: url("font/MinecraftRegular.otf");
}
.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img-container img {
    width: 100%;
    max-width: 500px;
}
body {
    background-color: #111111;
}
h2 {
    text-decoration: underline;
}
.mc {
    font-family: "Minecraft";
    color:white;
}
table, th, td {
    border: 1px solid;
    padding: 10px;
}
td > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
table {
    border-collapse: collapse;
}
.u {
    text-decoration: underline;
}
.todo {
    color: red;
}
.abgeschlossen {
    color: green;
}
#teilnehmer {
    max-width: 600px;
}
a {
    text-decoration: none;
}
#teilnehmer a {
    color: white;
}
#teilnehmer a.live {
    color: red;
}
.live::before {
    content:"[LIVE] "
}